*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    width: 13%;
    height: 100%;
    background-color: rgb(255, 255, 255);  
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: fixed;
    float: left;
}

.name{
    position: relative;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
.name::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 1.5px;
    background-color: black;
    left: 25%;
    bottom: -18px;
    z-index: 1;
}
.name::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    bottom:-29px;
    border: 5px solid #ffffff;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.items{
    margin-top: 60px;
}
.items ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    gap: 5px;
}
.items ul li{
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.8s;
}
.items ul li i{
    font-size: 15px;
}
.items ul li:hover{
    background-color:#f0f0f0;
    border-radius: 5px;
}
.items ul li.active{
    background-color: #f0f0f0;
    border-radius: 5px;
}
.main-content{
    width: 87%;
    float: right;
    background-color: rgb(229, 233, 235);
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}
header .search{
    margin-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
header .search input {
    border-radius: 10px;
    width: 150px;
    padding: 10px;
    padding-left: 30px;
    outline: none;
    border: #aaaaaa solid 1px;
} 

header .search i{
    position: absolute;
    z-index: 1;
    left: 10px;
    cursor: pointer;
    color: #aaaaaa;
}
header .search input:focus::placeholder{
    opacity: 0;
}
header .user{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}
header .user i{
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
header .user i::after{
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: red;
    top: -5px;
    right: -5px;
}
header .user img{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: #ececec solid 3px;
}
/*********************** dashboard ************************/
.dashboard{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}
.dashboard h1{
    font-weight: bold;
    
    position: relative;
    margin-bottom: 10px;
}

.dashboard h2{
    font-weight: bold;
    font-size: 28px;
}

.dashboard h1::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2.4px;
    background-color: black;
    bottom: -10px;
    left: 0;
    transition: 1s;
}
.dashboard h1::before{
    content: "";
    position: absolute;
    width: 120px;
    height: 2.4px;
    background-color: rgb(255, 255, 255);
    bottom: -10px;
    left: 0;
}
.dashboard h1:hover::after{
    width: 120px;
}
.dashboard .dash-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}
.dashboard .dash-items .welcome,
.dashboard .dash-items .draft,
.dashboard .dash-items .targets,
.dashboard .dash-items .tickets,
.dashboard .dash-items .news,
.dashboard .dash-items .tasks,
.dashboard .dash-items .search,
.dashboard .dash-items .uploads,
.dashboard .dash-items .project-progress,
.dashboard .dash-items .reminders,
.dashboard .dash-items .posts,
.dashboard .dash-items .social-media,
.dashboard .dash-itemsc.projects-table
{
    background-color:#ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
}
.dashboard .dash-items .welcome{
    position: relative;
}
.dashboard .dash-items .welcome::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 36%;
    background-color: #5555551a;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
}
.dashboard .dash-items p{
    color: #555555;
    margin-top: 10px;
}
.dashboard .dash-items .welcome .top .top-of-the-top{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.dashboard .dash-items .welcome .top .top-of-the-top img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: #ffffff solid 4px;
    transform: translateY(20px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 2;
    
}
.dashboard .dash-items .welcome .top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.dashboard .dash-items .welcome .top img{
    width: 210px;
    height: 100px;
}
.dashboard .dash-items .welcome .down{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dashboard .dash-items .welcome .down .info-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
    border-top: #d3d3d3 solid 1px;
    border-bottom: #d3d3d3 solid 1px;
    text-align: center;
}
.dashboard .dash-items .welcome .down .btn{
    width: 90px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}
.dashboard .dash-items .draft .inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:20px ;
}
.dashboard .dash-items .draft textarea{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: none;
    padding: 10px;
    outline: none;
    resize: none;
    background-color:  #5555551a;
}
.dashboard .dash-items .draft input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #5555551a;
}
.dashboard .dash-items .draft .btn{
    width: 90px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end;
}

.dashboard .dash-items .targets .target-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.dashboard .dash-items .targets .target-items .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard .dash-items .targets .target-items .item .icon{
    width: 90px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 22px;
}
.dashboard .dash-items .targets .target-items .item .text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
.dashboard .dash-items .targets .target-items .item .text .div-process{
    width: 100%;
    height: 4px;
}
.dashboard .dash-items .targets .target-items .first .text .div-process{
    background-color: #007bff66;
}
.dashboard .dash-items .targets .target-items .second .text .div-process{
    background-color: #28a74566;
}
.dashboard .dash-items .targets .target-items .third .text .div-process{
    background-color: #dc354566;
}
.dashboard .dash-items .targets .target-items .first .text .div-process .process{
    height: 100%;
    width: 80%;
    background-color: #007bff;
    position: relative;
}
.dashboard .dash-items .targets .target-items .second .text .div-process .process{
    height: 100%;
    width: 55%;
    background-color:#28a746;
    position: relative;
}
.dashboard .dash-items .targets .target-items .third .text .div-process .process{
    height: 100%;
    width: 75%;
    background-color:  #dc3546;
    position: relative;
}
.dashboard .dash-items .targets .target-items .first .icon{
    color:  #007bff;
    background-color: #007bff66;
}
.dashboard .dash-items .targets .target-items .second .icon{
    color:#28a746;
    background-color: #28a74566;
}
.dashboard .dash-items .targets .target-items .third .icon{
    color: #dc3546;
    background-color:#dc354566;
}


.dashboard .dash-items .targets .target-items .first .text .div-process span{
    background-color: #007bff;
    position: absolute;
    right: 0;
    top: -28px;
    font-size: small;
    padding: 2px 4px;
    border-radius: 7px;
}
.dashboard .dash-items .targets .target-items .second .text .div-process span{
    background-color: #28a746;
    position: absolute;
    right: 0;
    top: -28px;
    font-size: small;
    padding: 2px 4px;
    border-radius: 7px;
}
.dashboard .dash-items .targets .target-items .third .text .div-process span{
    background-color: #dc3546;
    position: absolute;
    right: 0;
    top: -28px;
    font-size: small;
    padding: 2px 4px;
    border-radius: 7px;
}


.dashboard .dash-items .targets .target-items .first .text .div-process .process::after{
    position: absolute;
    content: "\f0d7";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; 
    right: 12.5px;
    top: -13.5px;
    font-size: 13px;
    color: #007bff;
}
.dashboard .dash-items .targets .target-items .second .text .div-process .process::after{
    position: absolute;
    content: "\f0d7";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; 
    right: 12.5px;
    top: -13.5px;
    font-size: 13px;
    color: #28a746;
}
.dashboard .dash-items .targets .target-items .third .text .div-process .process::after{
    position: absolute;
    content: "\f0d7";
    font-family: "Font Awesome 6 Free";
    font-weight: 800; 
    right: 12.5px;
    top: -13.5px;
    font-size: 13px;
    color:#dc3546;
}

.dashboard .dash-items .tickets .items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items:flex-start;
    justify-content: center;
    margin-top: 30px;
}
.dashboard .dash-items .tickets .items .item-info{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    border-radius: 10px;
    border: #aaaaaa solid 1px;
    padding:15px ;
}
.dashboard .dash-items .tickets .items .item-info h2{
    font-size: 26px;
    font-weight: bold;
}
.dashboard .dash-items .tickets .items .item-info i{
    font-size: 29px;
    margin: 5px;
}
.dashboard .dash-items .tickets .items .item-info .fa-rectangle-xmark{
    color: #dc3546;
}
.dashboard .dash-items .tickets .items .item-info .fa-circle-check{
    color: #28a746;
}

.dashboard .dash-items .tickets .items .item-info .fa-spinner{
    color: #007bff;
}

.dashboard .dash-items .tickets .items .item-info .fa-rectangle-list{
    color: #ee8f2a;
}
.dashboard .dash-items .news .news-items{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.dashboard .dash-items .news .item{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #e1e0e0e7;
}
.dashboard .dash-items .news .item .info{
    display: flex;
    gap: 15px;
}

.dashboard .dash-items .news .item .info .img{
    width: 105px;
    height: 55px;
    border-radius: 6px;
    overflow: hidden;
}
.dashboard .dash-items .news .item .info .img img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.dashboard .dash-items .news .item .days-ago{
    width: 100px;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5555551a;
}
.dashboard .dash-items .news .item .days-ago p{
    color:#000000;
    margin-top: 0;
}

.dashboard .dash-items .tasks .tasks-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.dashboard .dash-items .tasks .tasks-items .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .dash-items .tasks .item{
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e0e0e7;
}

.dashboard .dash-items .tasks .deleted{
    text-decoration: line-through;
    color: #aaaaaa;
}

.dashboard .dash-items .tasks .deleted p{
    color: #dedede;
}

.dashboard .dash-items .tasks .last , .dashboard .dash-items .news .last{
    border-bottom: none;
}

.dashboard .dash-items .tasks .icon{
    transition: 0.5s;
}

.dashboard .dash-items .tasks .icon:hover{
    color: red;
    cursor: pointer;
}

.dashboard .dash-items .search .search-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}
.dashboard .dash-items .search .search-items .item{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 16px;
    color: #000000;
}
.dashboard .dash-items .search .search-items .item .Search-Count , .keyword-word{
    font-size: 19px;

}

.dashboard .dash-items .search .search-items .item p{
    color: #000000;
}

.dashboard .dash-items .search .search-items .item .clr{
    color: #555555;
    font-size: 20px;
}

.dashboard .dash-items .search .search-items .item .count{
    padding: 6px 10px;
    background-color: #5555551a;
    border-radius: 5px;
    color: #000000;
}


.dashboard .dash-items .uploads .uploads-items{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 15px;
}
.dashboard .dash-items .uploads .uploads-items .item{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 16px;
    color: #000000;
}

.dashboard .dash-items .uploads .uploads-items .item .info{
    display: flex;
    gap: 5px;
    /* background-color: #dc3546; */
}

.dashboard .dash-items .uploads .uploads-items .item .info .img{
    width: 40px;
    height: 45px;
    /* background-color: #28a746; */
}

.dashboard .dash-items .uploads .uploads-items .item .info img{
    width: 100%;
    height: 100%;
}

.dashboard .dash-items .uploads .uploads-items .item .info .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}
.dashboard .dash-items .uploads .uploads-items .item .info .text p{
    margin-top: 0;
}
.dashboard .dash-items .uploads .uploads-items .item .size{
padding: 6px 10px;
    background-color: #5555551a;
    border-radius: 5px;
    color: #000000;
}
.dashboard .dash-items .project-progress .progress-items{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.dashboard .dash-items .project-progress .progress-items .items{
    margin-top: 0;
}

.dashboard .dash-items .project-progress .progress-items .items{
    display: flex;
    flex-direction: column;
    padding: 2px 0;
    justify-content: space-between;
    gap: 30px;
    font-size: 16px;
    color: #000000;
}  
.dashboard .dash-items .project-progress .progress-items .items p{
    margin-top: 0;
    color: #000000;
    font-size: large;
}

.dashboard .dash-items .project-progress .progress-items .img{
    width: 160px;
    height: 150px;
    align-self: flex-end;
    opacity: 0.3;
}

.dashboard .dash-items .project-progress .progress-items .img img{
    width: 100%;
    height: 100%;
}

.dashboard .dash-items .project-progress .parag{
    display: flex;
    gap: 7px;
}
.dashboard .dash-items .project-progress .parag .line{
    width: 4px;
    height: 100%;
    background-color: #0075FF;
    /* position: relative; */
    position: absolute;
}
.dashboard .dash-items .project-progress .container-circles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    background-color:transparent;
    position: absolute;
    
}

.dashboard .dash-items .project-progress .line-circles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    position: relative;
}

.dashboard .dash-items .project-progress .container-circles .circle{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    outline: #0075FF solid 2px;
    border: #ffffff solid 2px;
    background-color: #0075FF;
}
.dashboard .dash-items .project-progress .container-circles .circle.last{
    background-color: #ffffff;
}

.dashboard .dash-items .project-progress .container-circles .circle.before-last{
    animation: cgcolor 1.3s infinite;
    
}
@keyframes cgcolor{
    0%{
        background-color: #0075FF;
    }
    50%{
        background-color: #ffffff;
    }
    100%{
        background-color: #0075FF;
    }
}

.dashboard .dash-items .reminders .reminders-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.dashboard .dash-items .reminders .reminders-items .item{
    display: flex;
    gap: 10px;
}

.dashboard .dash-items .reminders .reminders-items .item .decr{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}


.dashboard .dash-items .reminders .reminders-items .item .rems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    padding: 8px 0;
}
.dashboard .dash-items .reminders .reminders-items .item .decr .crl{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    
}

.dashboard .dash-items .reminders .reminders-items .item .decr .line{
    width: 1px;
    height: 80%;
    
}

.dashboard .dash-items .reminders .reminders-items .item .rems p{
    font-weight: bold;
    color: #000000;
    margin-top: 0;
}
.dashboard .dash-items .reminders .reminders-items .item .rems span{
    color: #555555;
}

.dashboard .dash-items .reminders .reminders-items .item .decr .blue{
    background-color: #007bff;
}
.dashboard .dash-items .reminders .reminders-items .item .decr .green{
    background-color: #22C55E;
}
.dashboard .dash-items .reminders .reminders-items .item .decr .orange{
    background-color: #F59E0B;
}
.dashboard .dash-items .reminders .reminders-items .item .decr .red{
    background-color: #F44336;
}

.dashboard .dash-items .posts .posts-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.dashboard .dash-items .posts .posts-items .item-top{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: #e8e8e8 solid 1px;
}
.dashboard .dash-items .posts .posts-items .item-top .img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.dashboard .dash-items .posts .posts-items .item-top img{
    width: 100%;
    height: 100%;
}
.dashboard .dash-items .posts .posts-items .item-cntr{
    font-size: large;
    color: #000000;
    padding: 35px 0;
    border-bottom: #e8e8e8 solid 1px;
}
.dashboard .dash-items .posts .posts-items .item-down{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    color: #888888;
}



